body {
	background-image: url("../img/background.png");
	background-repeat: repeat;
	background-position: top;
	/*background-size: cover;*/
}

.screen {
	background-image: url("/img/winquest.png");
	background-repeat: no-repeat;
	background-position: center;
	/*background-size: cover;*/
}

.hero {
	font-family: 'freight-sans-pro' Arial, sans-serif;
}

#start-button {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 150px;
	margin-top: 50px;
}

.main-hero-unit {
	background-color: #eeeeee;
	text-align: justify;
	border-style: solid;
	border-width: 1px;
	border-color: black;

	/*-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
       -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);*/
}

#home-img {
	margin-top: 80px;

	-webkit-border-radius: 5px;
     -khtml-border-radius: 5px;
       -moz-border-radius: 5px;
    	    border-radius: 5px;

	/*border-style: solid;
	border-width: 1px;
	border-color: black;*/
}

.home-img{
	margin-bottom: 20px;
	width: 64px;
	height: 64px;
}

.email {
	margin-top: 100px;
}

.navbar-inverse .navbar-inner {
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
       -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
}

.footer {
	font-size: 13px;
	color: grey;
	text-align: center;
}