body {
	background-color: #333333;
}

.brand {
	position: absolute;
	left: 50px;
	top: 10px;
}

.username {
	position: absolute;
	left: 950px;
	top: 0px;
	
}

#login-button {
	position: absolute;
	left: 1150px;
	top: 7px;
}

.container {
	height: 75px;
}

.node-label {
	display: inline-block;
	white-space: nowrap;
}

.node-background {
	width: 95px;
	height: 60px;
	background-color: rgba(0,0,0,0);
	z-index: 100000;
	position: absolute;
	opacity: 0.2;
	left: 1.5px;
	top: 0px;

    -webkit-border-radius: 5px;
     -khtml-border-radius: 5px;
       -moz-border-radius: 5px;
    	    border-radius: 5px;
}

.node-background2 {
	width: 95px;
	height: 60px;
	z-index: 0;
	position: absolute;
	opacity: 0.2;
	left: 1.5px;
	top: 0px;

    -webkit-border-radius: 5px;
     -khtml-border-radius: 5px;
       -moz-border-radius: 5px;
    	    border-radius: 5px;
}

.node-github {
	width: 95px;
	height: 60px;
	z-index: 0;
	position: absolute;
	opacity: 0.2;
	left: 1.5px;
	top: 0px;
	background-color: #4DA64D;

    -webkit-border-radius: 5px;
     -khtml-border-radius: 5px;
       -moz-border-radius: 5px;
    	    border-radius: 5px;
}

.Webtop {  
	-webkit-transition: 0s ease-out;
    -moz-transition: 0s ease-out;
    -o-transition: 0s ease-out;
    transition: 0s ease-out;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	-webkit-border-radius: 3px;
     -khtml-border-radius: 3px;
       -moz-border-radius: 3px;
    	    border-radius: 3px;
	
	text-decoration:none;
	z-index: 1;

    /*text-shadow:   1px 1px 30px rgba(0,0,0,0.3),    
    			   1px 1px 30px rgba(0,0,0,0.3),   
    			   1px 1px 30px rgba(0,0,0,0.3);*/
}

.Webtop:link { text-decoration: none; }
.Webtop:hover { text-decoration: none; }
.Webtop:active { text-decoration: none; }

.outliner {
	/*border-style:solid;
	border-color: #4D4DFF;
	border-width: 1px;*/
	
	width: 95px;
	height: 60px;
	background-color: #eeeeee;
	z-index: 0;
	position: absolute;
	opacity: 0.2;
	left: 1.5px;
	top: 0px;

    -webkit-border-radius: 5px;
     -khtml-border-radius: 5px;
       -moz-border-radius: 5px;
    	    border-radius: 5px;
}

.book {
	top: 5px;
}

#bookmark-text {
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	margin-top: 8px;
	top: 10px;
	left: 170px;
	width: 300px;
	color: #FFA500;
}

#bookmark-url {
	position: fixed;
	left: 250px;
	width: 500px;
	top: 10px;
	margin-top: 5px;
	/*background-color: #FFD27E; /*#FFEBCC;*/
}

#bookmark-label {
	position: absolute;
	left: 770px;
	top: 10px;
	margin-top: 5px;
	/*background-color: #FFD27E;*/
}

#bookmark-btn {
	position: absolute;
	left: 1000px;
	top: 10px;
	margin-top: 5px;

	height: 41px;
}

#navigation-bar {
	position: fixed;
	font-size: 16px;
	text-decoration: none;
	/*text-shadow:   1px 1px 3px #000000,    
    			   1px 1px 3px #000000,   
    			   1px 1px 3px #000000;*/
}

.navigation-text:link { text-decoration: none; }
.navigation-text:hover { text-decoration: none; }
.navigation-text:active { text-decoration: none; }

.selection-node {
	background-color: #eeeeee;
	z-index: 0;
	position: absolute;
	opacity: 0.2;

    -webkit-border-radius: 5px;
     -khtml-border-radius: 5px;
       -moz-border-radius: 5px;
    	    border-radius: 5px;
}

.free-pos-glyph {
	background-color: rgba(238, 238, 238, 0.035);

	-webkit-border-radius: 2.5px;
     -khtml-border-radius: 2.5px;
       -moz-border-radius: 2.5px;
    	    border-radius: 2.5px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	-webkit-border-radius: 0px;
     -khtml-border-radius: 0px;
       -moz-border-radius: 0px;
    	    border-radius: 0px;
}

#logo {
	position: absolute;
	left: 125px;
	top: 18px;
	width: 32px;
}

.gear {
	z-index: 100;
	opacity: 0.1;
}

.cut {
	z-index: 100;
	opacity: 0.1;
}

.tweak-background {
	background-color: rgba( 128, 128, 128, 0.55);
	z-index: 100000;
	position: absolute;
}

.bookmark-url {
	position: fixed;
	left: 250px;
	width: 500px;
	top: 10px;
	margin-top: 5px;
	z-index: 111111;
	/*background-color: #FFD27E; /*#FFEBCC;*/
}

.bookmark-label {
	position: absolute;
	left: 770px;
	top: 10px;
	margin-top: 5px;
	z-index: 111111;
	/*background-color: #FFD27E;*/
}

.bookmark-btn {
	position: absolute;
	left: 1000px;
	top: 10px;
	margin-top: 5px;
	height: 41px;
	z-index: 111111;
}

.bookmark-comment {
	position: fixed;
	left: 250px;
	width: 711px;
	top: 150px;
	margin-top: 5px;
	z-index: 111111;
	/*background-color: #FFD27E; /*#FFEBCC;*/
}

.bookmark-tags {
	position: fixed;
	left: 250px;
	width: 711px;
	top: 100px;
	margin-top: 5px;
	z-index: 111111;
	/*background-color: #FFD27E; /*#FFEBCC;*/
}

.thetooltip {
	display: none;
	padding: 5px;
	position: absolute;
	background-color: rgba( 128, 128, 128, 0.55);
	color: #FFA500;
	z-index: 100;

	-webkit-border-radius: 2.5px;
     -khtml-border-radius: 2.5px;
       -moz-border-radius: 2.5px;
    	    border-radius: 2.5px;
}