body {
	background-color: #333333;
}

/*.btn {
	-webkit-border-radius: 0px;
     -khtml-border-radius: 0px;
       -moz-border-radius: 0px;
    	    border-radius: 0px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	-webkit-border-radius: 0px;
     -khtml-border-radius: 0px;
       -moz-border-radius: 0px;
    	    border-radius: 0px;
}*/

.brand {

}

.brand:link { text-decoration: none; }
.brand:hover { text-decoration: none; }
.brand:active { text-decoration: none; }

.username {
	padding-top: 7px;
}

#login-button {
	padding-top: 10px;
	float:right;
}

#logo {
	position: absolute;
	left: 280px;
	top: 8px;
	width: 32px;
}

.download-btn {
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 130px;
}